{% extends "site_base.html" %}

{% block title %}
{{ company }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="large-8 columns">
		<h2>{{ company }}</h2>
	</div>
	<div class="large-4 columns text-right">

		<a href="{% url 'register_contact' company.id %}" class="small button">+ Contact</a>		
		
		<a href="#" class="small button">+ Equipment</a>
		<a href="#" class="small button alert">Delete</a>
	</div>
</div>
<div class="row">
	<div data-magellan-expedition="fixed">
		<dl class="sub-nav">
			<dd data-magellan-arrival="profile">
				<a href="#profile">Profile</a>
			</dd>
			<dd data-magellan-arrival="contacts">
				<a href="#contacts">Contacts</a>
			</dd>
			<dd data-magellan-arrival="listings">
				<a href="#listings">Listings</a>
			</dd>
		</dl>
	</div>
</div>

<div class="row">
	<hr />
	<a name="profile"></a>
	<div class="large-12 columns" data-magellan-destination="profile">
		
		<!--Basic Info-->
		<div class="row">
			<div class="large-8 columns">
				<h3>Profile</h3>
				<blockquote>
					{{ company.notes }}
				</blockquote>
			</div>
			<div class="large-4 columns text-right">
				<a href="#" class="small button">Edit</a>
			</div>
		</div>

		<!--Company Panel Left-->
		<div class="large-5 columns">
			<!--Basic Information-->
			<div class="row">
				<div class="large-12 columns">
					<h4 class="subheader">Basic Information</h4>
				</div>
			</div>

			<!--Phone-->
			<div class="row">
				<div class="large-3 columns">
					<p>Phone:</p>
				</div>
				<div class="large-9 columns">
					<p>{{ company.phone }}</p>
				</div>
			</div>

			<!--Fax-->
			<div class="row">
				<div class="large-3 columns">
					<p>Fax:</p>
				</div>
				<div class="large-9 columns">
					<p>{{ company.fax }}</p>
				</div>
			</div>

			<!--Email-->
			<div class="row">
				<div class="large-3 columns">
					<p>Email:</p>
				</div>
				<div class="large-9 columns">
					<a href="#">{{ company.email }}</a>
				</div>
			</div>

			<!--Website-->
			<div class="row">
				<div class="large-3 columns">
					<p>Website:</p>
				</div>
				<div class="large-9 columns">				
					<a href="#">{{ company.website }}</a>
				</div>
			</div>

			<!--Address-->
			<div class="row">
				<div class="large-3 columns">
					<p>Address:</p>
				</div>
				<div class="large-9 columns">
					<ul class="no-bullet">
						<li>{{ company.street_line1 }}</li>
						{% if company.street_line2 != '' %}
							<li>{{ company.street_line2 }}</li>
						{% endif %}
						{% if company.street_line3 != '' %}
							<li>{{ company.street_line3 }}</li>
						{% endif %}
						<li>{{ company.city }}, {{ company.state_province }} {{ company.zip_code }}</li>
						<li>{{ company.country }}</li>
					</ul>
				</div>
			</div>

			<!--Type-->
			<div class="row">
				<div class="large-3 columns">
					<p>Type:</p>
				</div>
				<div class="large-9 columns">
					<p><span>{{ company.primary_type }}</span> (primary)</p>
					<ul class="inline-list">
						{% for type in company.all_types.all %}
							{% if type != company.primary_type %}
								<li>{{ type }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>

			<!--Region-->
			<div class="row">
				<div class="large-3 columns">
					<p>Region:</p>
				</div>
				<div class="large-9 columns">
					<p>{{ company.region }}</p>
				</div>
			</div>

			<!--About Us-->
			<div class="row">
				<div class="large-3 columns">
					<p>About:</p>
				</div>
				<div class="large-9 columns">
					<p>{{ company.about }}</p>
				</div>
			</div>
		</div>

		<!--Company Panel Right-->
		<div class="large-6 large-offset-1 columns">

			<!--S&C-->
			<div class="row">
				<div class="large-12 columns">
					<h4 class="subheader">Specialization &amp; Classification</h4>
				</div>
			</div>

			<!--Industries-->
			<div class="row">
				<div class="large-3 columns">
					<p>Industries:</p>
				</div>
				<div class="large-9 columns">
					<ul class="inline-list">
						{% for company_industry in company_industries %}
							<li>{{ company_industry }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<!--Categories-->
			<div class="row">
				<div class="large-3 columns">
					<p>Categories:</p>
				</div>
				<div class="large-9 columns">		
					<dl>
						{% for category_group in company_categories.items %}
							<dt>{{ category_group.0 }}</dt>
							<dd>
								<ul class="inline-list">
									{% for category in category_group.1 %}
										<li>{{ category }}</li>
									{% endfor %}
								</ul>
							</dd>
						{% endfor %}
					</dl>
				</div>
			</div>

			<!--Make/Model-->
			<div class="row">
				<div class="large-3 columns">
					<p>Make/Models:</p>
				</div>
				<div class="large-9 columns">
					<dl>
						<dt>Make 1</dt>
						<dd>
							<ul class="inline-list">
								<li>Model 1</li>
								<li>Model 2</li>
								<li>Model 3</li>
								<li>Model 4</li>
							</ul>
						</dd>
						<dt>Make 2</dt>
					</dl>
				</div>
			</div>

			<!--Expertise Description-->
			<div class="row">
				<div class="large-3 columns">
					<p>Expertise:</p>
				</div>
				<div class="large-9 columns">
					{{ company.expertise_description }}
				</div>
			</div>
		</div>
	</div>

	<hr />

	<!--Contacts-->
	<a name="contacts"></a>
	<div class="large-12 columns" data-magellan-destination="contacts">	
		<div class="row">
			<div class="large-8 columns">
				<h3>Contacts</h3>				
				<blockquote>
					{{ contacts|length }} contacts registered in this company.
				</blockquote>
			</div>			
			<div class="large-4 columns text-right">
				<a href="{% url 'register_contact' company.id %}" class="small button">+ Contact</a>
			</div>
		</div>

		{% for contact in contacts %}
			<div class="large-4 columns">
				<div class="panel">
					<ul class="no-bullet">
						<li><strong><a href="{% url 'contact_profile' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a></strong></li>
						<li>{{ contact.title }}</li>
						<li>{{ contact.phone }}</li>
						<li><a href="#">{{ contact.email }}</a></li>
						<hr />
						<li>
							{% if contact.buy %}
								Buy
								{% if contact.sell %}
									, Seller
								{% endif %}
							{% else %}
								{% if contact.sell %}
									Seller
								{% endif %}
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>

	<hr />

	<!--Listings-->
	<a name="listings"></a>
	<div class="large-12 columns" data-magellan-destination="listings">	
		<div class="row">
			<div class="large-12 columns">
				<h3>Listings</h3>				
				<blockquote>
					6 listings published by this company.
					<br />
					12 installed base found.
				</blockquote>
			</div>
		</div>

		<!--Tabs-->
		<div class="section-container tabs" data-section="tabs">
			<section>
				<p class="title" data-section-title><a href="#">Listings</a></p>
				<div class="content" data-section-content>
					<!--Listings-->
					<div class="row">
						<div class="large-2 columns">
							<a href="#">
								<img src="http://placehold.it/150x150" />
							</a>
						</div>
						<div class="large-7 columns">
							<h5><a href="#">Make, Model, Year</a></h5>
							<div class="large-6 columns"><p>$1000.00</p></div>
							<div class="large-6 columns text-right"><p>5/6/2013<p></div>
							<div class="large-12 columns">
									This will be notes about this equipment.
									<br />
									The notes are normally quite extensive.
									<br />
									Multiple lines.
							</div>
						</div>
						<div class="large-3 columns">
							<div class="panel">
								<ul class="no-bullet">
									<li><strong><a href="#">First Last</a></strong></li>
									<li>Job Title</li>
									<li>(650)521-6339</li>
									<li><a href="#">contact1@company.com</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--Another listing-->
					<div class="row">
						<div class="large-2 columns">
							<a href="#">
								<img src="http://placehold.it/150x150" />
							</a>
						</div>
						<div class="large-7 columns">
							<h5><a href="#">Make, Model, Year</a></h5>
							<div class="large-6 columns"><p>$1000.00</p></div>
							<div class="large-6 columns text-right"><p>5/6/2013<p></div>
							<div class="large-12 columns">
									This will be notes about this equipment.
									<br />
									The notes are normally quite extensive.
									<br />
									Multiple lines.
							</div>
						</div>
						<div class="large-3 columns">
							<div class="panel">
								<ul class="no-bullet">
									<li><strong><a href="#">First Last</a></strong></li>
									<li>Job Title</li>
									<li>(650)521-6339</li>
									<li><a href="#">contact1@company.com</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<p class="title" data-section-title><a href="#">Installed Base</a></p>
				<div class="content" data-section-content>
					<!--Installed Base-->
				</div>
			</section>
		</div>
	</div>

	<hr />
</div>
{% endblock %}