{% extends "site_base.html" %}

{% block title %}
Register Contact
{% endblock %}

{% block content %}
<div class="row">
	<!--Magellan-->
	<div class="large-12 columns">
		<h2>Contact Registration Form</h2>
		<h3 class="subheader">from <a href="{% url 'Hyperion.apps.hcustomers.views.company_profile' company.id %}}">{{ company }}</a></h3>
		<div data-magellan-expedition="fixed">
			<dl class="sub-nav">
				<dd data-magellan-arrival="basic">
					<a href="#basic">Basic</a>
				</dd>
				<dd data-magellan-arrival="types_industries">
					<a href="#types_industries">Types+Industries</a>
				</dd>
				<dd data-magellan-arrival="categories">
					<a href="#categories">Categories</a>
				</dd>
				<dd data-magellan-arrival="expertise">
					<a href="#expertise">Expertise</a>
				</dd>
				<dd data-magellan-arrival="notes">
					<a href="#notes">Notes</a>
				</dd>
			</dl>
		</div>
	</div>

	<div class="large-12 columns">
		<form action="{% url 'Hyperion.apps.hcustomers.views.register_contact' company.id %}" method="post" class="custom">
			{% csrf_token %}
			<fieldset>
				<!--Basic-->
				<a name="basic"></a>
				<div class="row" data-magellan-destination="basic">
					<!--Name-->
					<div class="large-3 columns">
						<label for="id_first_name"><h4 class="subheader">First Name:</h4></label>
						{{ form.first_name }}
					</div>
					<div class="large-3 columns">
						<label for="id_last_name"><h4 class="subheader">Last Name:</h4></label>
						{{ form.last_name }}
					</div>

					<!--Region-->
					<div class="large-2 large-offset-1 columns">
						<label for="id_region"><h4 class="subheader">Region:</h4></label>
						{{ form.region }}
					</div>

					<!--Primary Type-->
					<div class="large-3 columns">
						<label for="id_primary_type"><h4 class="subheader">Primary Type:</h4></label>
						{{ form.primary_type }}
					</div>

					<!--Title-->
					<div class="large-3 columns">
						<label for="id_title"><h4 class="subheader">Title:</h4></label>
						{{ form.title }}
					</div>

					<!--Department-->
					<div class="large-4 columns">
						<label for="id_department"><h4 class="subheader">Department:</h4></label>
						{{ form.department }}
					</div>

					<!--Buy-->
					<div class="large-2 columns">
						<label for="id_buy"><h4 class="subheader">Buy:</h4></label>
						<div class="switch" id="id_buy">
							<input id="id_buy_true" name="buy" type="radio" value="True" />
							<label for="id_buy_true" onclick="">Yes</label>
							<input id="id_buy_false" name="buy" type="radio" value="False" checked />
							<label for="id_buy_false" onclick="">No</label>
							<span></span>
						</div>
					</div>

					<!--Sell-->
					<div class="large-2 columns">
						<label for="id_sell"><h4 class="subheader">Sell:</h4></label>
						<div class="switch" id="id_sell">
							<input id="id_sell_true" name="sell" type="radio" value="True" />
							<label for="id_sell_true" onclick="">Yes</label>
							<input id="id_sell_false" name="sell" type="radio" value="False" checked />
							<label for="id_sell_false" onclick="">No</label>
							<span></span>
						</div>
					</div>

					<!--Email-->
					<div class="large-4 columns">
						<label for="id_email"><h4 class="subheader">E-mail:</h4></label>
						{{ form.email }}
					</div>

					<!--Phone-->
					<div class="large-4 columns">
						<label for="id_phone"><h4 class="subheader">Phone:</h4></label>
						{{ form.phone }}
					</div>

					<!--Fax-->
					<div class="large-4 columns">
						<label for="id_fax"><h4 class="subheader">Fax:</h4></label>
						{{ form.fax }}
					</div>
				</div>
				<hr />

				<!--Types&Industries-->
				<a name="types_industries"></a>
				<div class="row" data-magellan-destination="types_industries">
					<!--All Types-->
					<div class="large-4 columns">
						<label for="id_all_types">
							<h4 class="subheader">All Types:</h4>
						</label>
						{% for pk, type in form.all_types.field.widget.choices %}
							<div class="large-12 columns">
								<label for="id_all_types_{{ pk }}">
									{% if pk in form.all_types.value %}
										<input type="checkbox" id="id_all_types_{{ pk }}" name="all_types" value="{{ pk }}" style="display: none;" checked>
									{% else %}
										<input type="checkbox" id="id_all_types_{{ pk }}" name="all_types" value="{{ pk }}" style="display: none;">
									{% endif %}
									<span class="custom checkbox"></span>
									{{ type }}
								</label>
							</div>
						{% endfor %}
					</div>
					
					<!--Industries-->
					<div class="large-7 large-offset-1 columns">
						<h4 class="subheader">Industries:</h4>

						<div class="large-6 columns">
							<div class="row collapse">
								<div class="large-2 columns text-center">
									<kbd>E</kbd>
								</div>
								<div class="large-10 columns"></div>
							</div>
							{% for pk, industry in form.industries.field.widget.choices %}
								{% if forloop.counter <= forloop.revcounter %}
									<div class="row collapse">
										<div class="large-2 columns text-center">
											<label for="id_industry_expertise_{{ pk }}">
												{% if pk in form.industry_expertise.value %}
													<input type="checkbox" id="id_industry_expertise_{{ pk }}" name="industry_expertise" value="{{ pk }}" style="display: none;" checked>
												{% else %}
													<input type="checkbox" id="id_industry_expertise_{{ pk }}" name="industry_expertise" value="{{ pk }}" style="display: none;">
												{% endif %}
												<span class="custom checkbox"></span>
											</label>
										</div>
										<div class="large-10 columns">
											<label for="id_industries_{{ pk }}">
												{% if pk in form.industries.value %}
													<input type="checkbox" id="id_industries_{{ pk }}" name="industries" value="{{ pk }}" style="display: none;" checked>
												{% else %}
													<input type="checkbox" id="id_industries_{{ pk }}" name="industries" value="{{ pk }}" style="display: none;">
												{% endif %}
												<span class="custom checkbox"></span>
												{{ industry }}
											</label>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="large-6 columns">
							<div class="row collapse">
								<div class="large-2 columns text-center">
									<kbd>E</kbd>
								</div>
								<div class="large-10 columns"></div>
							</div>
							{% for pk, industry in form.industries.field.widget.choices %}
								{% if forloop.counter > forloop.revcounter %}
									<div class="row collapse">
										<div class="large-2 columns text-center">
											<label for="id_industry_expertise_{{ pk }}">
												{% if pk in form.industry_expertise.value %}
													<input type="checkbox" id="id_industry_expertise_{{ pk }}" name="industry_expertise" value="{{ pk }}" style="display: none;" checked>
												{% else %}
													<input type="checkbox" id="id_industry_expertise_{{ pk }}" name="industry_expertise" value="{{ pk }}" style="display: none;">
												{% endif %}
												<span class="custom checkbox"></span>
											</label>
										</div>
										<div class="large-10 columns">
											<label for="id_industries_{{ pk }}">
												{% if pk in form.industries.value %}
													<input type="checkbox" id="id_industries_{{ pk }}" name="industries" value="{{ pk }}" style="display: none;" checked>
												{% else %}
													<input type="checkbox" id="id_industries_{{ pk }}" name="industries" value="{{ pk }}" style="display: none;">
												{% endif %}
												<span class="custom checkbox"></span>
												{{ industry }}
											</label>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				<hr />

				<!--Categories-->
				<a name="categories"></a>
				<div class="row" data-magellan-destination="categories">
					<div class="large-12 columns">
						<h4 class="subheader">Categories:</h4>
						<div class="section-container tabs" data-section="tabs">
							{% for category_group in grouped_category_models.items %}
								<section>
									<p class="title" data-section-title>
										<a href="#">{{ category_group.0 }}</a>
									</p>
									<div class="content" data-section-content>
										<div class="row">
											<div class="large-6 columns">
												<div class="row collapse">
													<div class="large-1 columns text-center">
														<kbd>E</kbd>
													</div>
													<div class="large-11 columns"></div>
												</div>
												{% for category in category_group.1 %}												
													{% if forloop.counter <= forloop.revcounter %}
														<div class="row collapse">
															<div class="large-1 columns text-center">
																<label for="id_category_expertise_{{ category.id }}">
																	{% if category.id in form.category_expertise.value %}
																		<input type="checkbox" id="id_category_expertise_{{ category.id }}" name="category_expertise" value="{{ category.id }}" style="display: none;" checked>
																	{% else %}
																		<input type="checkbox" id="id_category_expertise_{{ category.id }}" name="category_expertise" value="{{ category.id }}" style="display: none;">
																	{% endif %}
																	<span class="custom checkbox"></span>
																</label>
															</div>
															<div class="large-11 columns">
																<label for="id_categories_{{ category.id }}">
																	{% if category.id in form.categories.value %}
																		<input type="checkbox" id="id_categories_{{ category.id }}" name="categories" value="{{ category.id }}" style="display: none;" checked>
																	{% else %}
																		<input type="checkbox" id="id_categories_{{ category.id }}" name="categories" value="{{ category.id }}" style="display: none;">
																	{% endif %}
																	<span class="custom checkbox"></span>
																	{{ category.subcategory_name }}
																</label>
															</div>
														</div>
													{% endif %}
												{% endfor %}
											</div>
											<div class="large-6 columns">
												<div class="row collapse">
													<div class="large-1 columns text-center">
														<kbd>E</kbd>
													</div>
													<div class="large-11 columns"></div>
												</div>
												{% for category in category_group.1 %}
													{% if forloop.counter > forloop.revcounter %}
														<div class="row collapse">
															<div class="large-1 columns text-center">
																<label for="id_category_expertise_{{ category.id }}">
																	{% if category.id in form.category_expertise.value %}
																		<input type="checkbox" id="id_category_expertise_{{ category.id }}" name="category_expertise" value="{{ category.id }}" style="display: none;" checked>
																	{% else %}
																		<input type="checkbox" id="id_category_expertise_{{ category.id }}" name="category_expertise" value="{{ category.id }}" style="display: none;">
																	{% endif %}
																	<span class="custom checkbox"></span>
																</label>
															</div>
															<div class="large-11 columns">
																<label for="id_categories_{{ category.id }}">
																	{% if category.id in form.categories.value %}
																		<input type="checkbox" id="id_categories_{{ category.id }}" name="categories" value="{{ category.id }}" style="display: none;" checked>
																	{% else %}
																		<input type="checkbox" id="id_categories_{{ category.id }}" name="categories" value="{{ category.id }}" style="display: none;">
																	{% endif %}
																	<span class="custom checkbox"></span>
																	{{ category.subcategory_name }}
																</label>
															</div>
														</div>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</section>
							{% endfor %}
						</div>
					</div>
				</div>

				<hr />

				<!--Expertise-->
				<a name="expertise"></a>
				<div class="row" data-magellan-destination="expertise">
					<div class="large-12 columns">
						<h4 class="subheader">Expertise</h4>
						{{ form.expertise_description }}
					</div>
				</div>

				<hr />
				<!--Notes-->
				<a name="notes"></a>
				<div class="row" data-magellan-destination="notes">
					<div class="large-12 columns">
						<h4 class="subheader">Notes:</h4>
						{{ form.notes }}
					</div>
				</div>

				<hr />

				<div class="large-12 columns text-center">
					<input type="submit" value="Register" class="button" />
				</div>

			</fieldset>
		</form>
	</div>
</div>
{% endblock %}