{% extends "site_base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
	<div class="row">
		<div class="large-12 columns">
			<h2>Login</h2>
		</div>
	</div>
	<div class="row">
	    <div class="large-6 columns">
	        <form id="login_form" method="post" action="{% url 'account_login' %}" class="custom">
	            {% csrf_token %}
	            {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
	            	<fieldset>
	            	<div class="large-12 columns">
		            	<div class="row">
		            		<label for="id_email"><h4 class="subheader">E-mail:</h4></label>
							{{ form.email }}
							{% if form.email.errors %}
                                <small class="error">{{ form.email.errors|first }}</small>
                            {% endif %}
		            	</div>
		            	<div class="row">
		            		<label for="id_password"><h4 class="subheader">Password:</h4></label>
							{{ form.password }}
							{% if form.password.errors %}
                                <small class="error">{{ form.password.errors|first }}</small>
                            {% endif %}
                            {% if form.non_field_errors %}
		                        <small class="error">{{ form.non_field_errors|first }}</small>
		                    {% endif %}
		            	</div>
		            	<div class="row">
	            			<button type="submit" class="button">Login</button>
		            	</div>
            		</div>
            	</fieldset>
	        </form>
	    </div>
	</div>
{% endblock %}