{% extends "site_base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
	<div class="row">
		<div class="large-12 columns">
			<h2>Trader Login</h2>
		</div>
	    <div class="large-12 columns">
	        <form id="login_form" method="post" action="{% url 'account_login' %}" class="custom">
	            {% csrf_token %}
	            {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            	<div class="large-6 columns">
	            	<fieldset>
		            	<div class="large-12 columns">
		            		<label for="id_email"><h4 class="subheader">E-mail:</h4></label>
							{{ form.email }}
		            	</div>
		            	<div class="large-12 columns">
		            		<label for="id_password"><h4 class="subheader">Password:</h4></label>
							{{ form.password }}
		            	</div>
            			<div class="large-4 columns">
	            			<label for='id_remember'><h6 class="subheader">Remember Me:</h4></label>
	            		</div>
	            		<div class="large-8 columns">
	            			{{ form.remember }}
	            		</div>
	            		<div class="large-12 columns"></div>
	            		<div class="large-6 columns">
	            			<button type="submit" class="button">Login</button>
	            		</div>
	            		<div class="large-6 columns text-right">
	            			<ul class="no-bullet">
	            				<li><a href="{% url "account_password_reset" %}">Forgot your password?</a></li>
	            				<li><a href="{% url "account_signup" %}">Sign up</a></li>
	            			</ul>
			                
		            		
		            		
	            		</div>
	            	</fieldset>
                </div>
	        </form>
	    </div>
	</div>
{% endblock %}