{% extends "site_base.html" %}

{% block title %}
Logout
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h2>Trader Logout</h2>
        </div>
        <div class="large-12 columns">
            <form id="logout_form" method="post" action="{% url 'account_logout' %}" class="custom">
                {% csrf_token %}
                <fieldset>
                    <p>Are you sure you want to log out?</p>
                    <div class="form-actions">
                        <button type="submit" class="button">Log out</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}