{% extends "site_base.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h2>Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form id="password_form" method="POST" action="{% url 'account_password' %}" class="custom">
                {% csrf_token %}
                <fieldset>
                    <div class="large-12 columns">
                        <div class="row">
                            <label for="id_password_current"><h4 class="subheader">Enter your current Password:</h4></label>
                            {{ form.password_current }}
                        </div>
                        <div class="row">
                            <label for="id_password_new"><h4 class="subheader">Choose a new password:</h4></label>
                            {{ form.password_new }}
                        </div>
                        <div class="row">
                            <label for="id_password_new_confirm"><h4 class="subheader">Confirm your new password:</h4></label>
                            {{ form.password_new_confirm }}
                        </div>

                        <div class="row">
                            <button type="submit" class="button">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}