{% extends "site_base.html" %}

{% block title %}
Sign up
{% endblock %}

{% block content %}
	<div class="row">
		<div class="large-12 columns">
			<h2>Registration Form</h2>
		</div>
	</div>
	<div class="row">
	    <div class="large-12 columns">
	        <form id="signup_form" method="post" action="{% url 'account_signup' %}" class="custom">
	            {% csrf_token %}
				{% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
	            <fieldset>
	            	<div class="large-6 columns">
		            	<div class="large-12 columns">
		            		<label for="id_email"><h4 class="subheader">E-mail:</h4></label>
							{{ form.email }}
							{% if form.email.errors %}
		                        <small class="error">{{ form.email.errors|first }}</small>
		                    {% endif %}
		            	</div>
		            	<div class="large-12 columns">
		            		<label for="id_password"><h4 class="subheader">Password:</h4></label>
							{{ form.password }}
							{% if form.password.errors %}
		                        <small class="error">{{ form.password.errors|first }}</small>
		                    {% endif %}
		                    {% if form.non_field_errors %}
		                        <small class="error">{{ form.non_field_errors|first }}</small>
		                    {% endif %}
		            	</div>
		            	<div class="large-12 columns">
		            		<label for="id_password_confirm"><h4 class="subheader">Confirm Password:</h4></label>
							{{ form.password_confirm }}
							{% if form.password_confirm.errors %}
		                        <small class="error">{{ form.password_confirm.errors|first }}</small>
		                    {% endif %}
		                    {% if form.non_field_errors %}
		                        <small class="error">{{ form.non_field_errors|first }}</small>
		                    {% endif %}
		            	</div>
	            	</div>
	            	<div class="large-6 columns">
	            		<div class="large-6 columns">
		            		<label for="id_first_name"><h4 class="subheader">First Name:</h4></label>
							{{ form.first_name }}
							{% if form.first_name.errors %}
		                        <small class="error">{{ form.first_name.errors|first }}</small>
		                    {% endif %}
		            	</div>
	            		<div class="large-6 columns">
		            		<label for="id_last_name"><h4 class="subheader">Last Name:</h4></label>
							{{ form.last_name }}
							{% if form.last_name.errors %}
		                        <small class="error">{{ form.last_name.errors|first }}</small>
		                    {% endif %}
		            	</div>
		            	<div class="large-12 columns">
		            		<label for="id_title"><h4 class="subheader">Title:</h4></label>
							{{ form.title }}
							{% if form.title.errors %}
		                        <small class="error">{{ form.title.errors|first }}</small>
		                    {% endif %}
		            	</div>
		            	<div class="large-6 columns">
		            		<label for="id_phone"><h4 class="subheader">Phone:</h4></label>
							{{ form.phone }}
							{% if form.phone.errors %}
		                        <small class="error">{{ form.phone.errors|first }}</small>
		                    {% endif %}
		            	</div>
		            	<div class="large-6 columns">
		            		<label for="id_fax"><h4 class="subheader">Fax:</h4></label>
							{{ form.fax }}
							{% if form.fax.errors %}
		                        <small class="error">{{ form.fax.errors|first }}</small>
		                    {% endif %}
		            	</div>

		            	<!--Not really sure what does code field do...-->
		            	<div class="large-12 columns">{{ form.code }}</div>
		                <div class="large-12 columns text-right">
		                    <button type="submit" class="button">Register</button>
		                </div>
	            	</div>
	            </fieldset>
	        </form>
	    </div>
	</div>
{% endblock %}