{% extends "site_base.html" %}

{% block title %}
Home
{% endblock %}

{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" href="{% static 'home.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Oxygen:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Economica:400,400italic|Playfair+Display+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
	<div class="row vertical-space-150"></div>
	<div class="row home-container">
		
		<!-- Information -->
		<div class="large-7 columns border-right text-right inherent-height">
			<ul class="no-bullet">
				<li  class="text-color-silver title-font">
					Hyperion
				</li>
				<li class="text-color-silver subtitle-font">
					Hyperion provides clients access to capital equipment markets.
				</li>
				<li class="vertical-space-60"></li>
				<li class="text-color-white note-font">
					To request additional information, please contact:
					<br /><a class='email' href="mailto:info@hyperionmarkets.net">info@hyperionmarkets.net</a>
				</li>
			</ul>
		</div>

		<!-- Logo -->
		<div class="large-5 columns text-center">
			<img src="{% static 'logo.jpg' %}" alt="logo" />
		</div>

	</div>

{% endblock %}