{% load staticfiles %}
{% load tags %}
{% load account_tags %}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Hyperion-{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" />
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}" />
	<link rel="stylesheet" href="{% static 'hyperion.css' %}" />
	{% block css %}{% endblock %}
	<script src="{% static 'foundation/js/vendor/custom.modernizr.js' %}"></script>
</head>


<body>
	<!-- body content here -->
	{% block header %}
	<!--<div class="fixed">-->
		<div class="container top-bar">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Hyperion</a></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="left">
					<li class="divider"></li>
					<li class="{% active request 'search' %}">
						<a href="{% url 'search' %}">Search</a>
					</li>
					<li class="divider"></li>
					<li class="{% active request 'register_company' %}">
						<a href="{% url 'register_company' %}">+ Company</a>
					</li>
					<li class="divider"></li>
					{% if company != None %}
						<li class="{% active request 'register_contact' %}">
							<a href="{% url 'register_contact' company.id %}">+ Contact</a>
						</li>
						<li class="divider"></li>
					{% endif %}
				</ul>
				<ul class="right">
					<li class="divider"></li>
					{% if user.is_authenticated %}
						<li class="has-dropdown {% active request 'account_logout' %}">
							<a>{{ user.email }}</a>
							<ul class="dropdown">
								<li>
									<a href="#" onclick="$('#logout_form').submit();">Logout</a>
									<form display="none" id="logout_form" method="post" action="{% url 'account_logout' %}" class="custom">
									{% csrf_token %}
									</form>
								</li>
							</ul>
						</li>
					{% else %}
						<li class="{% active request 'account_login' %}"><a href="{% url 'account_login' %}">Login</a></li>
					{% endif %}
					<li class="divider"></li>
				</ul>
			</section>
		</div>
	<!--</div>-->
	{% endblock %}
	
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static 'foundation/js/foundation.min.js' %}"></script>
	<script>
		$(function(){
			$(document).foundation();
		})
	</script>
	{% block javascript %}{% endblock %}
</body>

</html>