{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Oxygen:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'stylesheets/base.css' %}" />
    <title>Hyperion</title>
</head>
<body>
	<div class='centercontainer'>
		<div class='centercontent' id='hometitle'>Hyperion</div>
		<div class='centercontent' id='homedescription'>The Equipment Markets</div>
		<div class='centercontent'><img class='homeimg' src="{% static "images/background.jpeg" %}" alt="homepage_image"/></div>
		<div class='centercontent emaillink' id='homecontact'><a href="mailto:info@hyperionmarkets.net">info@hyperionmarkets.net</a></div>
	</div>
</body>
</html>