{% extends "site_base.html" %}

{% block title %}
Search
{% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'htraders/search.css' %}" />
{% endblock %}
{% block javascript %}
    <script src="{% static 'htraders/search.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row collapse">
	<div class="large-10 columns">
		<input id="search_text" type="text" placeholder="Search companies, contacts and equipments...">
	</div>
	<div class="large-2 columns">
        <input id="search-button" type="button" class="button prefix" value="Search"/>
	</div>
</div>
<div class="row">
    <div class="section-container tabs" data-section="tabs">
        <!-- Company -->
        <section>
            <p class="title" data-section-title><a href="#">Company Results</a></p>
            <!-- Scroll Panel -->
            <div id="company-results" class="content scroll-vertical" data-section-content>
                <!-- An Example -->
                <div class="large-12 columns">
                    <ol>

                    </ol>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section>
            <p class="title" data-section-title><a href="#">Contact Results</a></p>
            <!-- Scroll Panel -->
            <div id="contact-results" class="content scroll-vertical" data-section-content>
                <!-- An Example -->
                <div class="row">
                    <hr/>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}