body
{
	background-color: #000000;
	color: #FFFFFF;
}

.centercontainer
{
	width: 960px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.centercontent
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#hometitle
{
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 96px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#homedescription
{
	font-family: 'Lato', sans-serif;
	font-size: 36px;
}

#homecontact
{
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
}

.homeimg
{
	max-width: 40%;
	margin-top: 60px;
	margin-bottom: 10px;
}
.emaillink a {
	color: #FFFFFF;
}

.emaillink a:visited {
    color: #FFFFFF !important;
}

.emaillink a:hover {
    color: #99CCFF;
}

.emaillink a:active {
    color: #FF0000;
}